<!-- index.html/nunjucks -->
{% extends "layout.html" %}
{% block content %}
{% include "partials/grid.html" %}
{% include "partials/header.html" %}
<section class="faq">
    <div class="container">
        <h3 data-translatable class="heading">Вопрос-Ответ // Часті питання</h3>
        <div class="faq__wrapper">
            <div class="faq__item">
                <p data-translatable class="title"> Что мне нужно сделать для участия в конкурсе? // Що я маю зробити для участі у конкурсі?</p>
                <ul class="faq__firstList">
                    <li data-translatable>1. Быть старше 18 лет; // 1. Бути старшим 18 років;</li>
                    <li data-translatable>2. Авторизоваться в Facebook; // 2. Авторизуватися у Facebook;</li>
                    <li data-translatable>3. Выбрать дату для предсказания и написать свои предсказания курса продажи доллара в отведенных для этого полях; // 3. Обрати дату для передбачення і написати своє передбачення курсу продажу долара у відповідному полі;</li>
                    <li data-translatable>4. Сделать репост прогноза на свою стенку в Facebook с: // 4. Зробити шер (репост) прогнозу у свій життєпис Facebook, в якому мають бути:</li>
                    <ul class="faq__secondList">
                        <li data-translatable>a. пометкой, что это могут видеть все; // а. відмітка, що цей шер можуть бачити усі користувачі Facebook;</li>
                        <li data-translatable>b. хэштегом #курснавыигрыш; // b. хештег #курснавиграш;</li>
                        <li data-translatable>c. отметкой одного друга в твоем шере; // c. відміткою одного друга у твоєму шері;</li>
                    </ul>
                </ul>
            </div>
            <div class="faq__item">
                <p data-translatable class="title">В какой период проводятся розыгрыши призов? // У який період проводяться розіграші подарунків?</p>
                <p data-translatable class="text">В рабочие дни с 10 октября 2018 по 31 октября 2018. // У робочі дні з 10 по 31 жовтня 2018 року.</p>
            </div>
            <div class="faq__item">
                <p data-translatable class="title">Могу ли я принимать участие в конкурсе более одного раза? // Чи можу я брати участь у конкурсі більше одного разу?</p>
                <p data-translatable class="text">Да, но не более одного предсказания за дату. Кроме того, каждое предсказание будет означать новый репост на твою страницу в Facebook и отмечание нового друга. // Так, але не більш ніж одне передбачення на дату. Крім того, кожне передбачення буде означати новий шер на твою сторінку у Facebook та відмітку одного нового друга.</p>
            </div>
            <div class="faq__item">
                <p data-translatable class="title">По какому принципу определяются победители? // За яким принципом визначаються переможці?</p>
                <p data-translatable class="text">Ежедневно победителем становится человек, который угадал средний по Киеву курс продажи доллара на 12:00 этого дня. Он будет высчитываться по данным всех обменников Киева, находящихся в базе сайта dekurs.com.ua // Щодня переможцем стає людина, що вгадала середній за Києвом курс продажу долара на 12:00 цього дня. Середній курс буде вираховуватися за даними усіх пунктів обміну валют міста Києва, що знаходяться у базі даних сайту dekurs.com.ua</p>
            </div>
            <div class="faq__item">
                <p data-translatable class="title">А что, если я не один правильно угадаю курс? // А якщо я не один вгадаю курс?</p>
                <p data-translatable class="text">Тогда Победителем среди двух (или большего количества) угадавших станет тот, кто наберет больше лайков своим шером в Facebook. // Тоді Переможцем серед двох (або більшої кількості) учасників, що вгадали, стане той, хто набере більшу кількість лайків своїм шером у Facebook.</p>
            </div>
            <div class="faq__item">
                <p data-translatable class="title"> Как я узнаю, что выиграл Приз? // Як я дізнаюся, що виграв Подарунок?</p>
                <p data-translatable class="text">Твой профиль появится на странице “Победители” сайта конкурса. Более того, ты получишь оповещение на свой профиль в Facebook! // Твій профіль з'явиться на сторінці ”Переможці” сайту конкурсу. Більш того, ти отримаєш сповіщення у свій профіль на Facebook!
                </p>
            </div>
            <div class="faq__item">
                <p data-translatable class="title"> Как мне получить Приз, если я победитель? // Як мені отримати Подарунок, якщо я переможець?</p>
                <p data-translatable class="text">Условия получения Приза обсуждаются дополнительно через твою страницу в Facebook. // Умови отримання Подарунку обговорюються  додатково через твою сторінку у Facebook.</p>
            </div>
        </div>
    </div>
    <div class="rectangle"></div>
    <img src="./img/svg/dots.svg" alt="svg" class="dots dots--1">
    <img src="./img/svg/dots.svg" alt="svg" class="dots dots--2">
    <img src="./img/svg/snake-op.svg" alt="svg" class="snakeRotate">
    <img src="./img/svg/snake-op.svg" alt="svg" class="snakeRotate snakeRotate--sec">
</section>


{% include "partials/footer.html" %}
<script src='libs/jquery-3.3.1/jquery-3.3.1.min.js'></script>
<script src='libs/gsap/src/minified/TweenMax.min.js'></script>
<script src="libs/axios-master/dist/axios.js"></script>
<script src='libs/dom-i18n/dom-i18n.js'></script>
<script src='js/scripts.min.js'></script>
{% endblock %}