<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <div class="footer__item">
                <a data-translatable href="faq.html">Вопрос-Ответ // Часті питання</a>
            </div>
            <div class="footer__item">
                <a href="rules.html">Правила</a>
            </div>
            <div class="footer__item">
                <a href="https://dekurs.com.ua/" target="_blank">Dekurs</a>
            </div>
        </nav>
    </div>
</footer>