<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Dekurs</title>
    <meta charset="utf-8">
    <meta property="fb:app_id"                 content="2160146270936955" />
    <meta property="og:url"                    content="https://dekurs.com.ua" >
    <meta property="og:type"                   content="website" />
    <meta property="og:site_name"              content="Dekurs"/>
    <meta property="og:title"                  content="Угадай курс и получи выигрыш на Dekurs!" />
    <meta property="og:description"            content="Делай предсказания курса доллара на Dekurs за призы!" />
    <meta property="og:locale"                 content="ru_RU"/>
    <meta property="og:image"                  content="https://dekurs.com.ua/quiz/img/gr-share-ru.png">
    <meta property="og:image:type"             content="image/png" />
    <meta property="og:image:width"            content="1200" />
    <meta property="og:image:height"           content="630" />
    <meta name="viewport"                      content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon"                  href="img/favicon.ico?1" type="image/x-icon"/>
    <link rel="stylesheet"                     href="libs/Calendario/css/calendar.css"/>
    <link rel="stylesheet"                     href="libs/Calendario/css/custom_1.css"/>
    <link rel="stylesheet"                     href="css/main.min.css"/>

</head>
<body class="readyState">
{% block content %} {% endblock %}

</body>
</html>